/* CSS Document */

*{margin:0px; padding:0px; list-style-type:none; font-family:Calibri,Arial; font-size:12px; line-height:24px; color:#575757;}
body,ol,ul,h1,h2,h3,h4,h5,h6,p,table,th,td,dl,dd,fieldset,legend,select,img,div{margin:0;padding:0;border:0;}
body{font:12px "Microsoft YaHei","Calibri","Arial","HELVETICA";background:#fff;-webkit-text-size-adjust:100%;text-transform : uppercase;}
em{font-style:normal}
ul,ol{list-style-type:none;}
li{list-style:none}
img{vertical-align:middle;}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
a:link{ color:#575757; text-decoration:none;}
a:visited{ color:#575757; text-decoration:none;}
a:hover{ color:#ff9c00; text-decoration:none;}
a:active{color:#575757; text-decoration:none;}
input,select,textarea{ outline:none;}
input[type="submit"], input[type="reset"], input[type="button"], button { -webkit-appearance: none; /*去掉苹果的默认UI来渲染按钮*/}




.bj{ background:#efefef;}
.h_74{ width:100%; height:74px;}
.h_54{ width:100%; height:54px;}

.fgx{ width:100%; height:10px; background:#f4f4f4;}

.top{ width:100%; height:46px; background:#ffd705; padding-top:8px; position:fixed; top:0; z-index:99;}
.search{ width:92%; height:34px;background:#fdf087; margin:0 auto;border-radius:10px;}
.top .search_i{ float:left; width:6%; margin-top:7px; margin-left:4%; background:url(../images/search.png) no-repeat;background-size:90%; display:block;}

.top .search input{ float:left; width:90%; height:34px;background:#fdf087;  border:none; outline:none; margin:0px auto; display:block; border-radius:10px; font-size:15px; text-indent:10px;}

.banner img{ width:100%; height:auto;}

.menu{   width:100%; padding:15px 0;}
.menu ul li{ width:25%; float:left; text-align:center;}
.menu ul li p{ font-size:14px; margin-top:5px;}
.menu ul li img{ width:60%; margin:0 auto; height:auto;}

.clear{ clear:both;}



.recommend{ padding-top:10px;}
.recommend_title{ width:92%; margin:0 auto; font-size:18px; padding:10px 0 14px;}
.recommend_title img{ width:24px; height:auto; margin-right:10px;}

.recommend_content{ width:96%; margin:0 auto;}
.recommend_content ul li{ float: left; width:30%; margin:0 1.6%;}
.recommend_content ul li img{ width:100%;  height:auto;}


.article{ width:100%;    padding:24px 0;}
.article .user{ width:92%; margin:0 auto;}
.article .user i{ border-radius:100%; overflow:hidden; width:14%; display:block; float:left; margin-right:2%;}
.article .user i img{ width:100%; height:auto;}
.article .user h3{ font-size:16px; float:left; display:block; width:100%; color:#d97422; font-weight:normal;}
.article .user .time_people{ width:60%; float:left;}
.article .user .time_people p{ float:left; font-size:12px; margin-right:2%;}
.article .user .more a{ border:2px solid #d97422; text-align:center; color:#d97422; border-radius:10px; display:block; float:right; width:18%; padding:5px;}
.article .user .more img{ width:20%; height: auto; margin-right:2%;}

.article_content{ width:100%; margin:0 auto}
.article_content p{ font-size:16px; margin:10px auto; width:92%;line-height: 30px;}
.article_content ul{ width:96%; margin:0 auto;}
.article_content ul li{ float: left; width:30%; margin:0 1.6%;}
.article_content ul li img{ width:100%;  height:auto;}

.nav{ width:100%; height:68px; }
.nav ul{ position:fixed; bottom:0px; width:100%;   padding:10px 0 0px; background:#fff; border-top:1px solid #eee;}
.nav ul li{ width:25%; float:left;}
.nav ul li a{ width:40%; display:block; margin:0 auto;}
.nav ul li a img{ width:70%; height:auto; margin-left:15%;}
.nav ul li p{ text-align:center;}
.nav ul li p.h{ color:#ffd706;}



/*------------商品详情------------*/
.top i{ float:left; position:absolute; left:3%; width:12px; display:block; margin-top:6px;}
.top i img{ width:100%; height:auto;}
.top h2{ margin:0 auto; text-align:center; font-size:18px; line-height:36px; font-weight:normal;}

.pic_gallery img{ width:100%; height:auto;}
.commodity_name{ width:90%; margin:10px auto; }
.commodity_name h5{ font-size:20px; margin-bottom:10px; }
.commodity_name p{ font-size:28px; color:#f00;}

.picture_details{ width:100%;}
.picture_details img{ width:100%; height:auto;}


.operation{ position:fixed; bottom:0px; width:100%; height:54px; padding:10px 0; background:#fff; line-height:44px;}
.operation .choice{ float:left; width:60%; margin-left:5%; background:#eeeeee; height:34px; padding:10px 0; border-radius:10px; line-height:44px;}
.operation .choice .choice_Button{ width:30px; height:24px; line-height:4px; border: 1px solid #f64c4c; background:#f64c4c;  font-size:20px;color:#fff; border-radius:10%;    margin-top: 5px;}
.operation .choice .choice_Button2{ width:30px; height:24px; border:1px solid #f64c4c;background:#fff; color:#f64c4c; border-radius:10%;font-size:20px; }
.choice_text{ width:30px; background: none; border:none;font-size:14px; text-align:center;font-size:18px;}
.operation p{ float:left; line-height:34px; margin-left:10px;}
.choice_an{ float:left; margin-left:6%;}


.operation .purchase{ float:right;width:35%;}
.operation .purchase input{ margin-left:5%; width:90%; background:#f1d124; line-height:54px; text-align:center; border:none; border-radius:10px; color:#fff; font-size:18px;}



/*------------我的订单------------*/

.order_tab{ width:100%; height:44px; background:#fff; border-bottom:1px solid #eee;}
.order_tab ul{}
.order_tab ul li{ width:50%; line-height:44px;float:left;}
.order_tab a{ font-size:14px; display:block; width:30%; line-height:42px; margin:0 auto; text-align:center;}
.order_tab a.h{border-bottom:2px solid #fe6d6a;}

.order_content{ border-top:10px solid #f4f4f4; clear:both; padding-bottom:10px;}
.order_title{ width:90%; height:44px; margin:0 auto; border-bottom:1px solid #eee; padding:0 5%;}
.order_title p{ float:left; line-height:44px; font-size:14px;}
.order_title span{ float:right; line-height:44px; font-size:14px; color:#fe6d6a;}

.order_nr{ width:90%; margin:auto; padding:10px 0;}
.order_goods{}
.goods_img{ width:28%; float: left;}
.goods_img img{ width:100%; height:auto;}
.goods_title{ margin-left:5%; float:left; margin-top:3px;}
.goods_title p{ font-size:18px;}
.goods_title b{ color:#fe6d6a; font-size:20px;}
.goods_title span{ color:#999; margin-left:5%;}
.goods_money{ margin:2% 0;}
.goods_total{font-size:16px; color:#999;}


.order_details{ width:100%;}
.order_details ul {width:100%; margin:0 auto;}
.order_details ul li{ border-top:1px solid #eee; margin-top:10px; clear:both; }
.order_details ul li p{ float:left;line-height:44px; width:40%; font-size:14px;}
.order_details ul li span{ float: left;line-height:44px; font-size:14px;}
.order_details ul li i{ float:right; width:24px;}
.order_details ul li i img{ width:100%; height:auto; margin-top:10px;}

.order_operation{  margin:0 auto; border-top:1px solid #eee; clear:both; padding-top:10px;}
.order_operation a{ line-height:24px; padding:6px 10px; border:1px solid #eee; border-radius:10px; font-size:14px; float:right; margin-left:10px;}
.order_operation a.red{ color:#fe6d6a; border-color: #fe6d6a;}





/*------------确认订单------------*/

.choice_address{ background:url(../images/icon_address_x.png) no-repeat center bottom; background-size:100%;}
.choice_address i{ float: left; width:5%; margin:20px 3%;}
.choice_address i img{ width:100%; height:auto;}
.address_nr{ width:86%; float:left; padding:20px 0; background:url(../images/icon_more.png) no-repeat center right; background-size:4%;}
.choice_address p{ font-size:14px; margin-bottom:3px;}
.choice_address span{ display:block; line-height:18px;}




.nearby{ width:90%; margin:0 auto 20px;}
.nearby p{ padding:10px 0;}
.nearby a{ width:20%; float: left;}
.nearby a img{ width:100%; height:auto;}
.button_an_none{width:90%; margin:0 auto; border:none; line-height:44px; background:#dcdcdc; border-radius:10px; display:block; font-size:14px;}


/*------------个人中心------------*/

.top2{ width:100%; height:46px;padding-top:8px; position:fixed; top:0; z-index:20;}
.top2 i{ float:left; position:absolute; left:3%; width:12px; display:block; margin-top:6px;}
.top2 i img{ width:100%; height:auto;}
.top2 h2{ margin:0 auto; text-align:center; font-size:18px; line-height:36px; font-weight:normal;}



.me_bj{width:100%; position:relative; padding-top:60px; background:#f4f4f4 url(../images/me_bj.png) no-repeat top center; background-size:100%; padding-bottom:10px;

}
.me_bj2{ width:100%; height:150px; background:#f4f4f4;}
.me_top{ background:#fff; width:90%; margin:0 auto; left:5%; border-radius:10px;-moz-box-shadow: 0px 6px 3px #ddd; box-shadow: 0px 4px 6px #ddd;}
.me_user{ width:90%; margin:0 auto; padding:10px 0;}
.me_user_tx{ width:20%; float:left;}
.me_user_tx img{ width:100%; height:auto; border-radius:100%; border:2px solid #eee;}
.me_name{ float:left; margin-top:10px; margin-left:10px;}
.me_name p{ margin-left:10px; font-size:16px; color:#5d5d5d;}
.me_name p span{ color:#aaa;font-size:16px;}

.me_top ul{ clear:both; padding:20px 0 10px; width:94%; margin:0 auto;}
.me_top ul li{ float:left; width:19%; text-align:center; margin:0 3%;}
.me_top ul li i{ width:80%; display:block; margin-left:10%;}
.me_top ul li img{ width:100%; height:auto;}

.me_nr{}
.me_nr li{ clear:both;display:block; width:95%; border-bottom:1px solid #eee; height:44px; margin-left:5%;}
.me_nr li a{ display:block; width:100%; line-height:44px; height:44px;}
.me_nr li i{ float:left; width:24px; margin-top:10px; margin-right:10px;}
.me_nr li i img{ width:100%; height:auto;}
.me_nr li p{ float:left; line-height:44px; font-size:14px; }
.me_nr li span{ float:right; width:10px; margin-top:10px; margin-right:5%;}
.me_nr li span img{ width:100%; height:auto;}

.bor_t{ border-top:20px solid #f4f4f4;}


/*------------转账凭证------------*/
.voucher2_img{ width:100%; text-align:center; padding:30px 0;}
.voucher2_img img{ margin:0 auto; max-width:80%; height:auto;}




/*------------完善信息------------*/

.information_nr{ width:100%; margin-top:20px; margin-bottom:20px;}
.information_nr ul{ margin-bottom:10px;}
.information_nr ul li{ border-bottom:1px solid #eee; height:44px; line-height:44px; background:#fff;}
.information_nr ul li p{ float: left; width:25%; height:44px; line-height:44px; text-indent:10px;}
.information_nr ul li input{ border:none; width:75%; float:left; line-height:44px;}
.information_nr ul li select{border:none; width:75%; float:left; line-height:44px; height:44px;}

.information_nr ul li.me_more{ background:#fff url(../images/icon_more.png) no-repeat 96% 10px; background-size:4%;}



/*------------找回密码------------*/
.password_nr{ width:100%; margin-bottom:20px;}
.password_nr ul li{ background:#fff; height:44px; margin:10px auto; position:relative;}
.password_nr ul li i{ width:24px; display:block; float:left; margin-top:10px; margin-left:10px;}
.password_nr ul li i img{ width:100%; height:auto;}
.password_nr ul li input{ border:none; width:75%; float:left; line-height:44px; margin-left:10px;}
.password_nr ul li input.yzm{ background:none; position:absolute; right:3%; width:70px; color:#ff6565;}

/*------------关于我们------------*/
.about2_nr{ text-align:center;}
.about2_nr p{ width:100%; font-size:16px;}
.about2_nr span{ font-size:14px; margin-bottom:20px; display:block;}
.about2_nr p img{ max-width:30%; height:auto; margin:30px auto 10px;}

.about2_copyright{ position:fixed; bottom:5%; text-align:center; display:block; width:100%;}
.about2_copyright p{ font-size:14px;}




/*------------提现------------*/

.withdrawals_nr{ width:90%; margin:20px auto;}
.withdrawals_bt{ clear:both; height:44px; line-height:44px;}
.withdrawals_bt p{ font-size:16px; color:#333; float:left;line-height:44px;}
.withdrawals_bt span{ font-size:16px; color:#f00; float:right;line-height:44px;}
.withdrawals_nr input{ width:100%; height:34px; line-height:34px; text-indent:10px; background:#f4f4f4; border:none; margin-bottom:10px;}
.withdrawals_nr p.explain{ margin-bottom:20px;}

.top span{ float:right; position:absolute; right:10px; top:14px;}




/*------------收支明细------------*/

.date{ background:#f4f4f4; width:100%; height:30px;}
.date p{ float:left; margin-left:10px;}
.date i{ width:20px; height:24px; display:block; float:right; margin-right:10px;}
.date i img{ width:100%; height:auto;}


.money_detailed_nr{ width:100%;}
.money_detailed_nr ul{ width:90%; margin:0 auto;}
.money_detailed_nr ul li{ border-bottom:1px solid #eee; clear:both; padding-bottom:10px; padding-top:10px;}
.money_detailed_nr ul li span{ background:#e4661f; border-radius:50%; color:#fff; width:24px; height:24px; display:block; text-align:center; float:left; margin-top:10px; margin-right:15px;}

.money_detailed_nr ul li .odd_numbers{ float:left;}
.money_detailed_nr ul li .odd_numbers2{ font-size:16px; color:#000;}
.money_detailed_nr ul li .odd_numbers p{ line-height:22px;}
.money_detailed_nr ul li .money_detailed_money{ float:right;font-size:18px;}
.money_detailed_nr ul li .money_detailed_money p{ font-size:18px;}
.money_detailed_nr ul li .money_detailed_money p.arrival{ font-size:14px; color:#32aa0d; text-align:center;}
.money_detailed_nr ul li .money_detailed_money p.arrival2{font-size:14px; color:#f76a44; text-align:center;}


.details_of_income_nr{ text-align:center; padding:10px 0;}
.details_of_income_nr p{ color:#000; font-size:18px; margin:10px auto;}
.details_of_income_nr span{ display:block; color:#f85e49; font-size:16px; margin:10px auto 5px;}

.details_of_income_nr_xq{ clear:both; height:40px; width:90%; margin:0 5%; border-bottom:1px solid #eee;}
.details_of_income_nr_xq h5{ float:left;line-height:40px; font-size:14px; font-weight:normal;}
.details_of_income_nr_xq span{ float:right;line-height:40px; font-size:14px; }
.details_of_income_nr_xq p{ display:block; width:100%; float:left; border-top:1px solid #eee;border-bottom:1px solid #eee; padding:10px 0;}
.details_of_income_nr_tu{ width:80%; margin:30px auto;}
.details_of_income_nr_tu img{ width:100%; height:auto;}


/*------------我的财务------------*/

.finances{ width:100%; height:100px; margin:10px 0 20px 0;
  background: -webkit-linear-gradient(left,#f6e58a, #f2c897); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right,#f6e58a, #f2c897); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right,#f6e58a, #f2c897); /* Firefox 3.6 - 15 */
  background: linear-gradient(right,#f6e58a, #f2c897); /* 标准的语法 */
}

.finances p{ font-size:20px; color:#000; float:left;  line-height:100px; margin-left:10px;}
.finances span{ font-size:20px; color:#f85e49; float:left; line-height:100px; margin-left:15px;}
.finances a{ float:right; text-align:center; color:#fff; border-radius:22px; line-height:34px; margin:30px 10px 0 0; width:80px; height:34px; border:1px solid #fff; display:block;}

.finances_m{ background:#fff; padding:0 5% ;}
.finances_m a{ display:block; height:44px;  line-height:44px;}
.finances_m i{ width:10px; height:10px; display:block; float:right; margin-top:10px;}
.finances_m i img{ width:100%; height: auto;}



/*------------修改地址------------*/

.information_nr ul li i{ width:10px; display:block; position:absolute; right:5%; margin-top:5px;}
.information_nr ul li i img{ width:100%; height:auto;}

.address_default{ background:#fff; line-height:44px; height:44px; }
.address_default p{ line-height:44px; float:left; margin-left:10px;}
.address_default i{ float:right; width:24px; height:24px; margin-top:8px; margin-right:5%;}
.address_default i img{ width:100%; height:100%;}


/*------------选择地址------------*/
.add_to{ position:fixed; bottom:0; width:100%; height:44px; background:#f6e485; color:#000; text-align:center; line-height:44px; font-size:14px;}

.address_list{ width:100%; padding: 10px 0;background:#fff url(../images/icon_more.png) no-repeat 95% 30%; background-size:4%; margin:10px auto;}

.address_list .address_information{ float:left; width:80%; margin:0 4% 10px;}
.address_list .address_information p{ font-size:14px;}
.address_list span{ float:right; width:5%; margin-right:5%;  display:block; height:100%;}

.address_bj{ border-top:1px solid #eee; clear:both; padding-top:10px; width:90%; margin:0 auto;}
.address_bj li{ display:block; float: left; width:150px;}
.address_bj li b{ width:24px; height:24px; display:block; float:left;}
.address_bj li b img{ width:100%; height:auto;}
.address_list i{width:20px; height:20px; float:left; margin-right:5%; display:block;}
.address_list i img{ width:100%; height: auto;}
.address_bj_r a{ display:block; float:left; width:50px; margin-left:15px; line-height:27px;}
.address_bj_r{ float:right;}

/*------------我的余额------------*/
.balance{ width:100%; background:#fff; text-align:center; padding:10px 0;}
.balance p{ color:#999;}
.balance span{ color:#f85e49; font-size:20px;}
.balance_nr{ border-top:1px solid #eee; margin:10px auto; width:95%; padding:10px 0; height:35px;}
.balance_nr li{ width:33.33%; float:left;}
.balance_nr li span{ font-size:16px;}

.balance_nr2 li{ background:#fff; clear:both; width:90%; margin:0 auto; border-bottom:1px solid #eee;}
.balance_nr2 li p{ float:left;line-height:44px;}
.balance_nr2 li span{ float:right;line-height:44px;}


.balance_nr3{ width:90%; margin:0 auto;}
.balance_nr3 h5{ font-weight:normal; line-height:44px;}
.balance_nr3 ul{ padding-bottom:30px;}
.balance_nr3 ul li{ padding:25px 0; clear:both; height:50px; border-top:1px solid #eee;}
.balance_nr3 ul li .balance_nr3_tu{ float:left; width:20%;}
.balance_nr3 ul li .balance_nr3_tu img{ width:100%; height:auto;}
.balance_nr3 ul li .balance_nr3_xx{ float:left; margin-left:10px;}
.balance_nr3 ul li .balance_nr3_xx p{ font-size:14px;}
.balance_nr3 ul li i{ float:right; width:60px; margin-right:10px;}
.balance_nr3 ul li i img{ width:100%; height:auto;}


/*------------物流信息------------*/
.logistics_xx{ width:90%; height:60px; padding:10px 0; margin:0 5%;}
.logistics_xx i{ width:20%; display:block; float:left;}
.logistics_xx i img{ width:100%; height:auto;}
.logistics_nr{ float: left; margin-left:20px; color:#999; font-size:14px; margin-top:5px;}
.logistics_nr span{ color:#ff9300; font-size:18px; margin-right:10px;}
.logistics_nr p{ color:#000; font-size:14px;}
.bj_n{ background:none;}
.bor_b{ border-bottom:1px solid #eee;}
.button_an{width:90%; margin:0 auto; border:none; line-height:44px; background:#ffeb80; border-radius:10px; display:block; font-size:14px;}
.mar_t{ margin-top:20px;}

@media screen and (max-width: 320px) { 
.operation p{ float:left; line-height:34px; margin-left:10px; font-size:18px;}
.me_name{ float:left; margin-top:10px; margin-left:5px;}
.me_name p{ margin-left:10px; font-size:14px; color:#5d5d5d;}
.me_name p span{ color:#aaa;font-size:14px;}

}
 @media screen and (max-width: 375px) { 
.operation p{ float:left; line-height:34px; margin-left:10px; font-size:18px;}
.me_name{ float:left; margin-top:5px;}
.me_top ul{ clear:both; padding:15px 0 10px; width:94%; margin:0 auto;}

} 


@media screen and (min-width: 375px) { 
.operation p{ float:left; line-height:34px; margin-left:10px; font-size:18px;}
} 
